html{height:100%;background:#fff!important;}
body{background:#fff!important;height:100%;}
h1{margin-bottom:20px;}
h1 a {background:transparent url(../img/logo-ln-login.gif) center 0 no-repeat!important;height:163px !important; width: 300px !important; background-size: 300px 163px !important;}